@import "common.css";
body{font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', sans-serif;}
.content-wrap{background-color: white;width:865px;margin: 0 auto;padding:0 10px;}
p{margin: 1em 0 2em 0;line-height: 1.65em;}
p a:link{text-decoration: underline;}

h3{font-size: 20px;}
h4{font-size: 17px;}
.address{margin-left: 10px;}

